<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLIENTE</title>
</head>
<body>
    <h2>Lista de Cliente</h2>
    <a href="/cliente/form">Cadastrar novo</a><br/>
  <!-- <h5 th:text="${nome}">cliente Padrão</h5>    cliente padrão(default) -->
    <table>
        <thead>
            <th>Id</th>
            <th>Nome</th>
            <th></th>
        </thead>
        <tbody>
            <!-- for(cliente cliente:lista) -->
            <tr th:each="c:${clientes}">
                <td th:text="${c.id}"></td>
                <td th:text="${c.nome}"></td>
                <td>
                    <a th:href="@{'/cliente/editar/'+${c.id}}">Editar</a>
                    <a th:hrec="@{'/cliente/deletar/'+${c.id}}">Deletar</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>