<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente - Formulario </title>
</head>
<body>
    <h1>Cadastro de Cliente</h1>
    <form action="/cliente/salvar" method="post">
        <input type="hidden" name="id" id="id" th:value="${cliente.id}"><br />
        nome: <input type="text" name="nome" id="nome" th:value="${cliente.nome}"><br />
        <input type="submit" value="salvar">
    </form>
    <a href="/cliente">Voltar</a>
</body>
</html>