body{
    background-color: aqua;
}
p{
    text-align: center;
    text-decoration: double;
    font-size: 20px;
}

table{
    width: 60%;
    margin: auto;
    background-color: bisque;
    border: 1px solid black;
    text-align: center;

}
thead{
    background-color: black;
    color: white;
    text-align: center;
}